.viewWorld {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapperButtons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.wrapperInfoWorld {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

#world {
  display: block;
  font-family: monospace;
  white-space: pre;
}

.string {
  white-space: pre;
}

#btnBack {
  margin: 10px;
}
