@import "./components/ViewWorld/style.css";

body {
  margin: 0;
  position: relative;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to top, #fefcea, #f4ce42);
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}
