@import "./components/ViewWorld/style.css";

body {
  margin: 0;
  position: relative;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}
