body {
  margin: 0;
  position: relative;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#world {
  display: block;
  font-family: monospace;
  white-space: pre;
}

.string {
  white-space: pre;
}
